*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

body{
    max-width: 1150px;
    margin: 0 auto;
}

.nav-left{
    display: flex;
    align-items: center;
    
}
.nav-title h1{
    font-size: 30px;
    font-weight: 800;
}
span{
    color: #FF5400;
}
.nav-right li{
    list-style: none;
    
}
.nav-right li a{
    text-decoration: none;
    margin: 0 15px;
    color: #424247;
    font-weight: 400;
    font-size: 16px;
    
}
.nav-right ul{
    display: flex;
    
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-section{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./Images/Group\ 13.png);
    color: white;
    height: max-content;
    text-align: center;
    background-repeat: no-repeat;

    
}

.banner-title{
    padding: 100px 170px 10px 170px;
    margin-top: 30px;
}

.banner-title h1{
    font-size: 55px;
    font-weight: 800;
    padding-bottom: 20px;
}
.banner-title p{
    font-weight: 400;
}

.info-button-section{
    padding: 10px 20px;
    background-color: rgba(240, 248, 255, 0.438);
    width: max-content;
    position: relative;
    margin: 100px auto;
    border-radius: 5px;
    transform: translateY(-90%);
    
}
input, select {
    padding: 10px 10px;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    margin-right: 10px;
}
button{
    background-color: #FF5400;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    margin-right: 10px;  
}

.main-section{
    display: flex;
    margin: 0 auto;
}

.main-section-text{
    width: 50%;

}
.main-section-text h1{
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: 800;
}
.main-section-image{
    width: 50%;
}
.main-section-image img{
    width: 80%;
    margin-left: 115px;  
}
.destination-section{
    margin: 80px auto;
    text-align: center;
}
.destination-section h1{
    padding-bottom: 15px;
}
.destination-image1{
display: flex;
gap: 30px;
}

.maldives, .indonesia{
    width: 50%;
    position: relative;
}

.maldives h2, .indonesia h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 25px;
    font-weight: 800;

}
.maldives img, .indonesia img {
    width: 100%;
}
