*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

body{
    max-width: 1150px;
    margin: 0 auto;
}

.nav-left{
    display: flex;
    align-items: center;
    
}
.nav-title h1{
    font-size: 30px;
    font-weight: 800;
}
span{
    color: #FF5400;
}
.nav-right li{
    list-style: none;
    
}
.nav-right li a{
    text-decoration: none;
    margin: 0 15px;
    color: #424247;
    font-weight: 400;
    font-size: 16px;
    
}
.nav-right ul{
    display: flex;
    
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-section{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./Images/Group\ 13.png);
    color: white;
    height: max-content;
    text-align: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.banner-title{
    padding: 100px 170px 10px 170px;
    margin-top: 30px;
}

.banner-title h1{
    font-size: 55px;
    font-weight: 800;
    padding-bottom: 20px;
}
.banner-title p{
    font-weight: 400;
    padding-bottom: 10px;
}

.info-button-section{
    padding: 10px 20px;
    background-color: rgba(240, 248, 255, 0.438);
    width: max-content;
    margin: 100px auto;
    border-radius: 5px;
    
}
input, select {
    padding: 10px 10px;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    margin-right: 10px;
}
button{
    background-color: #FF5400;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    margin-right: 10px;  
}

.main-section{
    display: flex;
    margin: 0 auto;
}

.main-section-text{
    width: 50%;

}
.main-section-text h1{
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: 800;
}
.main-section-image{
    width: 50%;
}
.main-section-image img{
    width: 80%;
    margin-left: 115px;  
}
.destination-section{
    margin: 80px auto;
    text-align: center;
}
.destination-section h1{
    padding-bottom: 15px;
}
.destination-image1{
    display: flex;
    gap: 20px;
    
}
.maldives, .indonesia{
    width: 85%;
    position: relative;
}

.maldives h2, .indonesia h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 25px;
    font-weight: 800;

}
.maldives img, .indonesia img {
    width: 100%;
}
.destination-image2{
    display: flex;
    gap: 20px;
    margin: 20px auto;
}

.sri-lanka img, .north-america img, .kashmir img {
    width: 100%;
}

.sri-lanka, .north-america, .kashmir {
    position: relative;
}

.sri-lanka h2, .north-america h2, .kashmir h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 25px;
    font-weight: 800;
}
.destination-image3{
    display: flex;
    gap: 20px;
}
.bangladesh img, .bandarban img{
    width: 100%;
}
.bangladesh, .bandarban {
    position: relative;
}
.bangladesh h2, .bandarban h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 25px;
    font-weight: 800;
}
.choose-us-section{
    text-align: center;
    margin: 30px auto;
}
.choose-us-section h1{
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 20px;
}
.service-section1{
    display: flex;
    gap: 30px;
    margin: 40px auto;
}
.hotel-service{
    width: 50%;
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.06);
    padding: 25px 50px 25px 15px;
}

.world-class-service{
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.08);
    width: 50%;
    padding: 25px 50px 25px 15px;
}

.price-section{
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    width: 50%;
    padding: 25px 50px 25px 15px;
    margin: 25px auto;
}
.discount{
    text-align: center;
    padding: 20px;
}

.newsletter{
    display: flex;
    gap: 25px;
    margin-top: 30px ;
}
.newsletter-form{  
    width: 40%;
    border: 1px solid #FF5400;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 40px;
}
.newsletter-form input{
    padding: 10px 80px 10px 10px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.newsletter-image img{
    width: 100%;
}
.newsletter-image{
    position: relative;
    width: 50%;
}
.btn{
    border-radius: 8px;
    background: #FF5400;
    padding: 10px 95px;
}
.save70{
    position: absolute;
    border-radius: 8px;
    background: #FF5400;
    bottom: 80px;
    left: 325px;
    width: fit-content;
    padding: 15px 25px;
    color: white;
    transform: rotate(-25deg);
    text-align: center;

}
footer{ background: rgba(19,19,24, 0.05);
    margin-top: 30px;
    padding: 50px 0px;
}
.foot-sec{
    display: flex;
    justify-content: center;
    padding-top: 40px;
   
}
.foot-text{
    text-align: center;
    margin-top: 20px;
}
.foot-icon{
    display: flex;
    justify-content: center;
    
}
.foot-icon img{
    margin: 20px 30px;
    width: 3%;
}







@media screen and (max-width: 600px) { 
    
    body{
        margin: 10px;
    }
    .main-nav{
        flex-direction: column;
    }
    .banner-title{padding: 10% 10px 2% 10px;
        margin-bottom: 20px;
    }

    .foot-sec, .newsletter, .service-section1,
    .destination-image1, .destination-image2, .destination-image3, .main-section  {
        flex-direction: column;
        align-items: center;
        margin: 10px 40px;
    }
    .destination-image1{
        margin: 5px auto;
        
    }
    .newsletter-image {
        width: 100%;
    }
    .save70{
        position: absolute;
        bottom: 20%;
        left: 45%;
    }
    .newsletter-form{ width: 80%;}

    .discount{padding: 10px 35px;}

    .main-section-image,.main-section-text{
        width: 100%;}

    .main-section-image img {
        margin-left: 5px;
        margin-top: 10px;

    }
    .info-button-section { display: flex;
        flex-direction: column;
        margin: 25px;
        position: relative;
        top: 80%;
        left: 50%;
        transform: translate(-50%,-10%);
        gap: 10px;
    }
    .choose-us-section{
        margin-left: 20px;
        padding: 10px 20px;

    }
    footer{margin: 10px 20px;
        padding: 10px 0px;
}
    }
    
    
    
    

    
